
<div id="<%= dom_id(comment) %>" class="comment">
  <div class="comment-photo">
    <%= cl_image_tag (comment.user.photo.key), {class: "avatar-comment"} %>
  </div>
  <div class="comment-content">
    <p> <%= comment.user.nickname %> <small><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %></small> </p>
    <p> <%= comment.content %> </p>
  </div>

    <div class="comment-actions">
      <% if policy(comment).destroy? %>
        <%= link_to "Delete", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
  </div>
</div>
