<li  class = "following-list" data-user=<%= user.id %> >
  <% link_to user_path(user), style:"text-decoration: none;" do %>
    <div class="card-product">
      <% if user.photo.key == nil %>
        <%= image_tag "avatar.png" %>
      <% else %>
        <%= cl_image_tag (user.photo.key)%>
      <% end %>
      <div class="card-product-infos">
        <h2><%= user.nickname %></h2>
        <p><%= user.description %></p>
      </div>
    </div>
  <% end %>
</li>
