<div class="container">
  <div class="card-profile">

    <div class="d-flex justify-content-between">

      <div>
        <h1><%= @user.nickname %></h1>
      </div>

      <div class="m-2">
        <% unless @user == current_user %>
          <% if current_user.is_following?(@user.id) %>
            <div class="btn btn-unfollow">
              <%= link_to "Unfollow",
                unfollow_user_path(@user.id),
                data: {turbo_method: :post},
                style: "text-decoration: none;
                color: black;"
              %>
            </div>
          <% else %>
            <div class="btn btn-follow">
              <%= link_to "Follow",
                follow_user_path(@user.id),
                data: {turbo_method: :post},
                style: "text-decoration: none;
                color: black;"
              %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <% if @user.photo.key == nil %>
          <%= image_tag "avatar.png", {class: "avatar-large"} %>
        <% else %>
          <%= cl_image_tag (@user.photo.key), {class: "avatar-large"}%>
        <% end %>
      </div>

      <div class="col-9">
        <h3>Description</h3>
        <p><%= @user.description %></p>
      </div>
    </div>

  </div>
</div>
