<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@user.nickname}" %>
<% content_for :meta_description, @user.description %>

<div class="container m-5">
  <div class="card-profile">

    <div class="d-flex justify-content-between">

      <div class = "user-nickname">
        <h1><%= @user.nickname %></h1>
      </div>

      <div class="m-2">
        <% if @user != current_user %>
          <% if current_user.is_following?(@user.id) %>
            <div class="btn btn-unfollow">
              <%= link_to "Unfollow",
                unfollow_user_path(@user.id),
                data: {turbo_method: :post},
                style: "text-decoration: none;
                color: black;"
              %>
            </div>
          <% else %>
            <div class="btn btn-follow">
              <%= link_to "Follow",
                follow_user_path(@user.id),
                data: {turbo_method: :post},
                style: "text-decoration: none;
                color: black;"
              %>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_post_path,style: "text-decoration: none;" do %>
            <span><p><i class = "fa fa-plus-square fa-2x"></i></p></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="user-info-box justify-content-center">
          <% if @user.photo.key == nil %>
            <%= image_tag "moon.PNG", {class: "avatar-profile-moon"} %>
          <% else %>
            <%= cl_image_tag (@user.photo.key), {class: "avatar-profile"}%>
          <% end %>
          <h3><%= @user.first_name %> <%= @user.last_name %></h3>
          <p><%= @user.email %></p>
          <h3 class = "category-<%=@user.category.name%>">#<%= @user.category.name %></h3>
        </div>
      </div>

      <div class="col-8">
        <h3>Description</h3>
        <p><%= @user.description %></p>
      </div>
    </div>
  </div>



  <div class="feed">

    <% @user.posts.each do |post| %>

      <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
        <div class="card-post">

          <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

          <div class="card-post-info">
            <p><%= post.title %></p>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>



</div>
