<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "house-solid.svg" %>
    <% end %>

    <div class="d-flex">
      <%= link_to category_path(@photo), class: "nav-category-icon", style:"text-decoration: none;" do %>
        <%= image_tag "camera-retro-solid.svg" %>
      <% end %>
      <%= link_to category_path(@painting), class: "nav-category-icon", style:"text-decoration: none;" do %>
        <%= image_tag "paint-solid.svg" %>
      <% end %>
      <%= link_to category_path(@illustration), class: "nav-category-icon", style:"text-decoration: none;" do %>
        <%= image_tag "eye-dropper-solid.svg" %>
      <% end %>
      <%= link_to category_path(@drawing), class: "nav-category-icon", style:"text-decoration: none;" do %>
        <%= image_tag "pencil-solid.svg" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Followed artists", users_path, class: "dropdown-item" %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Sign in", user_session_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
