
<div class="banner" style="background-image: url(<%=asset_url('banner_image.jpeg')%>);margin-bottom: 30px;">
  <div class="banner-infos">

<div class="container">
  <div class="row justify-content">
    <div class="col-12 col-sm-6">
      <h1>Welcome to Talentum!</h1>
      <p> </p>
      <p>Connecting artists with partners and art lovers around the world! 🌍 </p>
      <%= link_to "JOIN US", new_user_registration_path, class: "btn-flat" %></a>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn-ghost" %></a>

        </div>
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <div>
        <div class="category-card d-flex justify-content-evenly align-items-center">
          <div class="d-flex flex-column justify-content-center text-center"><%= link_to category_path(@categories.find_by(name:"Photography")), style:"text-decoration: none;" do %>
              <%= image_tag "photography.png", class:"mb-1" %>
              <p style="color: grey;">Photography</p>
               <% end %>
          </div>

          <div class="text-center"><%= link_to category_path(@categories.find_by(name:"Illustration")), style:"text-decoration: none;" do %>
              <%= image_tag "illustration.png", class:"mb-1" %>
              <p style="color: grey;">Illustration</p>
            <% end %>
          </div>

          <div class="text-center"><%= link_to category_path(@categories.find_by(name:"Drawing")), style:"text-decoration: none;" do %>
              <%= image_tag "drawing.png", class:"mb-1" %>
              <p style="color: grey;">Drawing</p>
            <% end %>
          </div>

          <div class="text-center"><%= link_to category_path(@categories.find_by(name:"Painting")), style:"text-decoration: none;" do %>
              <%= image_tag "painting.png", class:"mb-1" %>
              <p style="color: grey;">Painting</p>
            <% end %>
          </div>



        </div>
      </div>
    </div>

      <div class="container">
        <div class="row justify-content">
          <div class="favorite-title">
            <h2 style="font-size: 26px;">My favourite artists</h2>
            <h2 style="font-size: 26px;">Top Painters</h2>
            <h2 style="font-size: 26px;">Top Photographers</h2>
            <h2 style="font-size: 26px;">Top Drawers</h2>
            <h2 style="font-size: 26px;">Top illustrators</h2>
          </div>
        </div>
      </div>
