
<div class="banner" style="margin-bottom: 3rem; margin-top: 8rem;">
  <div class="banner-infos">

  <div class="container">
    <div class="row justify-content">
      <div class="col-12 col-sm-6">
          <h1>The world is full<br> of TALENTUNs!</h1>
          <p> </p>
          <p>Talentum is connecting artists with partners and art lovers around the world!🌍</p>
          <%= link_to "JOIN US", new_user_registration_path, class: "btn-flat" %></a>
          <%= link_to "SIGN IN", new_user_session_path, class: "btn-ghost" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">


  <div class="sample-block">
    <div class="sample-title">
      <h3>Photography</h3>


      <div class="feed-home-page">

        <% @photography_posts.each do |post| %>

          <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
            <div class="card-post">

              <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

              <div class="card-post-info">
                <% if post.user.photo.key == nil %>
                  <%= image_tag "avatar.png", {class: "avatar-bordered"} %>
                <% else %>
                  <%= cl_image_tag (post.user.photo.key), {class: "avatar-bordered"}%>
                <% end %>
                <p><%= post.user.nickname %></p>
              </div>

            </div>
          <% end %>
        <% end %>

      </div>

    </div>


    <div class="sample-title">
      <h3>Illustration</h3>


      <div class="feed-home-page">

        <% @illustration_posts.each do |post| %>

          <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
            <div class="card-post">

              <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

              <div class="card-post-info">
                <% if post.user.photo.key == nil %>
                  <%= image_tag "avatar.png", {class: "avatar-bordered"} %>
                <% else %>
                  <%= cl_image_tag (post.user.photo.key), {class: "avatar-bordered"}%>
                <% end %>
                <p><%= post.user.nickname %></p>
              </div>

            </div>
          <% end %>
        <% end %>

      </div>

    </div>


    <div class="sample-title">
      <h3>Painting</h3>


      <div class="feed-home-page">

        <% @painting_posts.each do |post| %>

          <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
            <div class="card-post">

              <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

              <div class="card-post-info">
                <% if post.user.photo.key == nil %>
                  <%= image_tag "avatar.png", {class: "avatar-bordered"} %>
                <% else %>
                  <%= cl_image_tag (post.user.photo.key), {class: "avatar-bordered"}%>
                <% end %>
                <p><%= post.user.nickname %></p>
              </div>

            </div>
          <% end %>
        <% end %>

      </div>

    </div>

    <div class="sample-title">
      <h3>Drawing</h3>


      <div class="feed-home-page">

        <% @drawing_posts.each do |post| %>

          <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
            <div class="card-post">

              <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

              <div class="card-post-info">
                <% if post.user.photo.key == nil %>
                  <%= image_tag "avatar.png", {class: "avatar-bordered"} %>
                <% else %>
                  <%= cl_image_tag (post.user.photo.key), {class: "avatar-bordered"}%>
                <% end %>
                <p><%= post.user.nickname %></p>
              </div>

            </div>
          <% end %>
        <% end %>

      </div>

    </div>



  </div>

</div>
