<div class="container">
  <div class="row justify-content-center">
    <div class="col-20 col-sm-10">

      <h1>Create a post</h1>
      <%= simple_form_for [@post] do |f| %>
        <%= f.input :title, placeholder: "ex: beautiful landscape"%>
        <%= f.input :photo, as: :file %>
        <%= f.input :description, placeholder: "ex: beautiful landscape in the sunrise" %>
        <%= f.association :category, label_method: :name, value_method: :id, include_blank: false %>
        <%= f.submit "Create a post", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
