
<div class="row ms-5">
  <%= link_to "Back to category", category_path(@post.category_id) %></a>
</div>

<div class="card-post-show">
  <%= cl_image_tag (@post.photo.key) %>
  <div class="card-post-infos">
    <h1><%= @post.user.nickname %></h1>
    <h2><%= @post.title %></h2>
    <p><%= @post.description %></p>
  </div>
</div>


<p><%= pluralize @post.comments.size, "comment" %></p>

<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div data-insert-in-list-target="items">
    <% if @post.comments.blank? %>
      Be the first to leave a comment
    <% else %>
      <% @post.comments.each do |comment| %>
        <%= cl_image_tag (comment.user_id.photo.key) %>
        <p><%= comment.content %></p>
        <p><%= comment.created_at.strftime("%I:%M %p") %></p>
      <% end %>
    <% end %>
  </div>

  <%= simple_form_for([@post, @comment],
    data: {
      insert_in_list_target: "form",
      action: "submit->insert-in-list#send"
      }) do |f| %>
    <%= f.input :content, :placeholder => 'Add a comment...' %>
    <button name="button" type="submit" class="btn btn-flat">
      Send
    </button>
  <% end %>

</div>
