
<div class="row ms-5">
  <%= link_to "Back to category", category_path(@post.category_id) %></a>
</div>

<div class="card-post-show">
  <%= cl_image_tag (@post.photo.key) %>
  <div class="card-post-infos">
    <h1><%= @post.user.nickname %></h1>
    <h2><%= @post.title %></h2>
    <p><%= @post.description %></p>
    <%= link_to like_post_path(@post), class: 'like-btn', data: {turbo_method: :put}, remote: :true do %>
      <div>
        <span><p><i class = "fa fa-thumbs-up fa-1x"></i></p></span>
      </div>
    <% end %>
    <span class = 'likes-count'> Likes: <%= @post.get_upvotes.size %></span>
  </div>
</div>


<p><%= pluralize @post.comments.size, "comment" %></p>

<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div data-insert-in-list-target="items">
    <% if @post.comments.blank? %>
      Be the first to leave a comment
    <% else %>
      <% @post.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% end %>
  </div>

  <%= render "comments/form", post: @post, comment: @comment %>

</div>
