
<div class="row ms-5">
  <%= link_to "Back to category", category_path(@post.category_id) %></a>
</div>

<div class="card-post-show">

  <%= cl_image_tag (@post.photo.key) %>

  <div class="card-post-infos">

    <div class="d-flex justify-content-between align-items-center">
      <h1> <%= link_to @post.user.nickname, user_path(@post.user.id), class:"text-decoration-none" %> </h1>
      <% if @post.user == current_user %>
        <div class="d-flex">
          <%= link_to "Edit", edit_post_path(@post), class: 'btn-flat' %>
          <%= link_to "Delete", @post, data: { "turbo-method": :delete }, class: 'btn-delete' %>
        </div>
      <% else %>
        <div>
          <%= link_to "Like", like_post_path(@post), class: 'btn-flat', data: {turbo_method: :put}, remote: :true %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <h2><%= @post.title %></h2>
    </div>

    <div class="row">
      <p><%= @post.description %></p>
    </div>

    <div class="row">
      <p><%= pluralize @post.get_upvotes.size, "like" %> <%= pluralize @post.comments.size, "comment" %> </p>
    </div>

    <div class="row">
      <div class = "comments-container", data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

        <div class="comments-box", data-insert-in-list-target="items">
          <% if @post.comments.blank? %>
            Be the first to leave a comment
          <% else %>
            <% @post.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
          <% end %>
        </div>

        <%= render "comments/form", post: @post, comment: @comment %>

      </div>
    </div>

  </div>

</div>
