
<div class="row ms-5">
  <%= link_to "Back to category", category_path(@post.category_id) %></a>
</div>

<div class="card-post-show">
  <%= cl_image_tag (@post.photo.key) %>
  <div class="card-post-infos">
    <h1><%= @post.user.nickname %></h1>
    <h2><%= @post.title %></h2>
    <p><%= @post.description %></p>
  </div>
</div>


<p><%= pluralize @post.comments.size, "comment" %></p>

<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div data-insert-in-list-target="items">
    <% if @post.comments.blank? %>
      Be the first to leave a comment
    <% else %>
      <% @post.comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% end %>
  </div>

  <% if policy(@post).edit? %>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>

  <%= button_to "Destroy this post", @post, method: :delete if policy(@post).destroy? %>


  <%= render "comments/form", post: @post, comment: @comment %>


</div>
