<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@post.title}" %>
<% content_for :meta_description, @post.description %>
<% content_for :meta_image, cl_image_path(@post.photo.key) %>


<div class="row justify-content-center my-5">
  <div class="card-post-show">

    <div class="col-6">
      <%= cl_image_tag (@post.photo.key) %>
    </div>

    <div class="col-6">
      <div class="card-post-show-infos">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class="nickname-text"> <%= link_to @post.user.nickname, user_path(@post.user.id), class:"text-decoration-none" %> </h1>
          <% if @post.user == current_user %>
            <div class="d-flex">
              <%= link_to "Edit", edit_post_path(@post), class: 'btn-flat mr-3' %>
              <%= link_to "Delete", @post, data: { "turbo-method": :delete }, class: 'btn-delete' %>
            </div>
          <% else %>
            <%= link_to like_post_path(@post), class: '', data: {turbo_method: :put}, remote: :true  do %>
              <div>
                <span><p><i class = "fa fa-thumbs-up fa-2x"></i></p></span>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="row">
          <h2 class="nickname-text"><%= @post.title %></h2>

        </div>
        <div class="row m-20">
          <p><%= @post.description %></p>
        </div>


        <div class="row">
          <p> <i class="far fa-clock"></i><%= @post.created_at.strftime("%d/%m/%Y %H:%M")%></p>
          <p> <i class="far fa-thumbs-up"></i><%= pluralize @post.get_upvotes.size, "like" %></p>
          <p> <i class="far fa-comment"></i><%= pluralize @post.comments.size, "comment" %></p>
        </div>


        <div class="row my-1">
          <div class = "comments-container", data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">

            <div class="comments-box", data-insert-in-list-target="items">
              <% if @post.comments.blank? %>
                Be the first to leave a comment
              <% else %>
                <% @post.comments.each do |comment| %>
                  <%= render "comments/comment", comment: comment %>
                <% end %>
              <% end %>
            </div>

            <%= render "comments/form" , post: @post, comment: @comment %>

          </div>
        </div>

      </div>

    </div>
  </div>


</div>
