<div data-refresh-posts-target="list">

  <div class="feed">

    <% posts.each do |post| %>

      <%= link_to post_path(post), style:"text-decoration: none; color: black;" do %>
        <div class="card-post-home">

          <%= cl_image_tag (post.photo.key), {class: "item2"}%><br>

          <div class="card-post-info-home">
            <% if post.user.photo.key == nil %>
              <%= image_tag "moon.PNG", {class: "avatar-posts-moon"} %>
            <% else %>
              <%= cl_image_tag (post.user.photo.key), {class: "avatar-bordered"}%>
            <% end %>
            <p><%= post.user.nickname %></p>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>

</div>
