<!DOCTYPE html>
<html>
  <head>
    <title>Talentum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="page-container">
      <%= render "shared/navbar2" %>
      <main id="main-content">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
      <%= render "shared/flashes" %>
    </div>

  </body>
</html>
